<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <h1 class="text-center">Şifre Değiştir</h1>
        <form [formGroup]="changePasswordForm">
            <div class="mb-3">
                <label for="password-control" class="form-label">Eski Şifre:</label>
                <input type="password" formControlName="oldPassword" class="form-control" id="password-control"
                    [ngClass]="controlValid(oldPassword)" placeholder="Eski şifrenizi girin">
            </div>
            <div class="mb-3">
                <label for="password-control-new" class="form-label">Yeni Şifre:</label>
                <input type="password" formControlName="newPassword" class="form-control" id="password-control-new"
                    [ngClass]="controlValid(newPassword)" placeholder="Yeni şifrenizi girin">
            </div>
            <div class="mb-3">
                <label for="password-control-new-confirm" class="form-label">Yeni Şifrenizi Onaylayın:</label>
                <input type="password" formControlName="confirmNewPassword" class="form-control" id="password-control-new-confirm" [ngClass]="controlValid(confirmNewPassword)" placeholder="Yeni şifrenizi tekrar girin">
            </div>
            <div>
                <app-password-strength-bar [passwordToCheck]="newPassword.value" />
            </div>
            <div class="mb-3">
                <ng-container *ngIf="newPassword.errors?.['notSame'] || confirmNewPassword.errors?.['notSame']">
                    <div class="text-danger">
                        Şifreler Uyuşmuyor
                    </div>
                </ng-container>
            </div>
            <div>
                <button (click)="changePassword()" class="btn btn-primary w-100 d-block text-center">
                    Şifre Değiştir
                </button>
            </div>
        </form>
    </div>
</div>