.alert-container {

    .alert-header {
        padding: 8px 10px;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        font-weight: 500;
        user-select: none;
        border-bottom: none !important;

        &.primary {
            background-color: #d9edf7;
            color: #31708f;
            border: 1px solid #bce8f1;
        }

        &.success {
            background-color: #d1e7dd;
            color: #0f5132;
            border: 1px solid #badbcc;
        }

        &.warning {
            background-color: #fff3cd;
            color: #664d03;
            border: 1px solid #ffecb5;
        }

        &.danger {
            background-color: #f8d7da;
            color: #842029;
            border: 1px solid #f5c2c7;
        }

    }

    .alert-content {
        padding: 8px 10px;
        border-radius: 0 0 4px 4px;

        &.primary {
            border: 1px solid #bce8f1;
        }

        &.success {
            border: 1px solid #badbcc;
        }

        &.warning {
            border: 1px solid #ffecb5;
        }

        &.danger {
            border: 1px solid #f5c2c7;
        }

        .alert-list {
            margin: 0;
        }
    }
}

.table {
    tbody tr:last-of-type {
        td {
            border-bottom: none;
        }
    }
}