<div class="row">
    <div class="col-12">
        <div class="pb-3">
            <h4>
                AMAÇ VE KAPSAM
            </h4>
            <p>
                Bilgisayar Mühendisliği öğrencilerinin yapacakları zorunlu iş yeri stajlarının temel ilkeleri Cumhuriyet
                Üniversitesi Mühendislik Fakültesi’nin hazırlamış olduğu Staj Yönergesi ile belirlenmiş olup; aşağıdaki
                esaslar, ilgili yönergede yer alan her bölümün kendi gereksinimlerine uygun bir kılavuz
                hazırlayabileceği
                ilkesine uygun olarak hazırlanmıştır.
            </p>
            <p>
                Stajın öğrenciye amaçlanan şekilde kazanım sağlaması için öğrenciden beklenen, kendisine gerek teknik
                gerekse sosyal anlamda katkı sağlayabilecek uygun bir staj yeri bulmasıdır. Staj yapılan şirketin nasıl
                faaliyetler yürütürse yürütsün, önemli olan öğrencinin staj yaptığı yerde üzerinde çalıştığı bir projeyi
                başarıyla tamamlaması, bu projeyi uygun şekilde ve formatta staj raporuna işlemesidir.
            </p>
        </div>
        <div class="pb-3">
            <h4>
                STAJ YERİ VE DAĞITIMI
            </h4>
            <p>
                Staj yapılacak yer, yönetim, endüstri, ticaret veya hizmet alanlarında faaliyet gösteren; bilgisayar
                donanımı / yazılımı üreten veya pazarlayan bir kurum veya kuruluş olmalıdır. Bunların dışında, kurum ve
                kuruluşlara ait bilgi işlem merkezlerinde de staj yapılabilir.
            </p>
            <p>
                Staj yapılacak kurumda Bilgisayar Mühendisliği eğer yoksa Elektrik-Elektronik, Yazılım veya Elektronik
                Haberleşme Mühendisliği alanlarından mezun en az 1 mühendis bulunmalıdır.
            </p>
            <p>
                Öğrenci kendi mühendislik alanı ile ilgili bir iş yerinde çalışıyor ise, bölüm staj komisyonunun uygun
                görmesi halinde çalıştığı kurumda staj yapabilir.
            </p>
        </div>
        <div class="pb-3">
            <h4>
                STAJ SÜRESİ VE ALANI
            </h4>
            <p>
                Öğrencinin mezun olabilmesi için toplam en az 45 işgünü staj yapması gerekmektedir.
            </p>
            <p>
                Staj dönemleri (bir iş yeri için) 25 iş gününden uzun olamaz. En az 10 gün süre ile staj yapılması
                uygun
                görülmüştür.
            </p>
            <p>
                Öğrenciler, Bölüm Başkanlığının teklifi ve Dekanlığın onayı ile stajlarının en fazla 20 iş gününü
                Mühendislik Fakültesi’nde yapabilirler.
            </p>
            <p>
                Toplam staj süresinin en az 25 günü Yazılım Stajı olmalıdır.
            </p>
            <p>
                Normal koşullarda bir hafta 5 iş günü olarak kabul edilmektedir. Cumartesi günleri de çalışılan
                işletmelerde, bu durumun belgelenmesi halinde, bu yerlerdeki haftalık iş günü esas alınır.
            </p>
        </div>
        <div class="pb-3">
            <h4>
                Yazılım Staj Konuları
            </h4>
            <ul>
                <li>
                    Mobil Uygulamalar
                </li>
                <li>
                    Gömülü Sistem Programlama
                </li>
                <li>
                    Biyometri (iz, yüz, parmak izi, vs.) Uygulamaları
                </li>
                <li>
                    BS/YBS ((Yönetim) Bilişim Sistemleri) Uygulamaları (ERP, SAP, e-ticaret, vs.)
                </li>
                <li>
                    Yazılım Performans Testleri ve Analizi
                </li>
                <li>
                    Veri Madenciliği Uygulamaları
                </li>
                <li>
                    Animasyon, Bilgisayar Grafikleri ve Oyun Programlama Uygulamaları
                </li>
                <li>
                    Veritabanı Uygulamaları
                </li>
                <li>
                    Veritabanı Analizi, Optimizasyonu ve Yönetimi
                </li>
                <li>
                    Bilgisayar Görmesi ve Yapay Zekâ Uygulamaları
                </li>
                <li>
                    Web Programlama
                </li>
                <li>
                    Sistem Programlama
                </li>
                <li>
                    Bilgisayar Güvenliği ve Kriptoloji
                </li>
                <li>
                    Bilgisayar Destekli Kontrol Sistemleri
                </li>
                <li>
                    Siber Güvenlik
                </li>
            </ul>
        </div>
        <div class="pb-3">
            <h4>
                Donanım Staj Konuları
            </h4>
            <ul>
                <li>
                    Bilgisayar Organizasyonu, Bilgisayar Mimarileri
                </li>
                <li>
                    Entegre Devre tasarımları ve imalatı, VLSI
                </li>
                <li>
                    VHDL, SystemC, Verilog vb. Gömülü sistem tasarımı ve uygulamaları.
                </li>
                <li>
                    Mikro-denetleyiciler, mikro-işlemciler
                </li>
                <li>
                    Endüstriyel Otomasyon sistemleri, PLC
                </li>
                <li>
                    Robotik uygulamalar
                </li>
                <li>
                    İz-yüz-parmak-göz-lastik tanıma sistemleri
                </li>
                <li>
                    Otomobil, otobüs vb. araç özellik kontrolleri (mesafe, fren, ıslak yol, klima)
                </li>
                <li>
                    Veri iletişimi, Bilgisayar Ağları, Ağ Güvenliği
                </li>
                <li>
                    Fabrika cihaz takip-kontrol sistemleri
                </li>
                <li>
                    Kamera takip, radar, bilgisayarlı güvenlik sistemleri
                </li>
                <li>
                    Araç takip-kontrol sistemleri
                </li>
                <li>
                    Tıp-telefon-ticari-endüstri-askeri alanlarda sayısal işaret işleme
                </li>
                <li>
                    Bilgisayar donanım performans testleri
                </li>
                <li>
                    Cep ve mobil sistem teknolojileri
                </li>
                <li>
                    Monitör, dokunmatik ekranlar, LCD TV, plazma TV
                </li>
                <li>
                    Siber Güvenlik
                </li>
            </ul>
        </div>
        <div>
            <h4 class="text-danger">
                UYARI:
            </h4>
            <p>
                Örneğin 35 gün staj yapan bir öğrencinin stajı tam gün kabul edilecek yeterlilikte bile olsa 30 günü
                kabul edilir. Eğer hatalardan dolayı kesintiler yapılacaksa, öğrencinin lehine olması açısından, 35 gün
                üzerinden düşülerek kesintiler yapılacaktır. 7 günlük bir kesinti yapılırsa 28 gün kabul edilir.
            </p>
        </div>
    </div>
</div>