<div class="row">
    <div class="col-12 col-lg-12">
        <div class="alert-container">
            <div class="alert-header">
                <i class="far fa-bullhorn fa-fw"></i> Staj Takip Sistemi Hakkında
            </div>
            <div class="alert-content">
                Staj takip sistemine hoş geldiniz. Bu sistem, öğrenciler, fakülte görevlileri ve iş yerindeki yetkililer
                arasında bir köprü kurarak staj sürecini dijitalleştirmeyi ve yönetmeyi amaçlamaktadır. Geleneksel kağıt
                tabanlı staj süreçlerinin aksine, bu sistem staj başvurularını çevrimiçi olarak yapmayı, stajyerleri
                yerleştirme sürecini otomatikleştirmeyi ve staj süresince gerekli belgelerin elektronik olarak
                yönetilmesini sağlamayı hedeflemektedir. Bu sistem sayesinde, staj sürecinin daha verimli ve etkili bir şekilde
                yürütülmesi, taraflar arasındaki iletişimin güçlendirilmesi ve staj sürecinin daha iyi yönetilmesi
                sağlanacaktır.

                <br>
                <br>
                <div>
                    <b>Sol tarafta yer alan menü üzerinden şu işlemleri yapabilirsiniz: </b>
                </div>
                <br>
                
                <ul class="alert-list">
                    <li>Staj hakkında gerekli bilgileri öğrenmek</li>
                    <li>Staj hakkında sıkça sorulan soruları ve cevaplarını öğrenmek</li>
                    <li>Daha önce yaptığınız stajları ve şu an yaptığınız stajı görüntülemek</li>
                    <li>Şu an yaptığınız stajın raporlarını görüntülemek, düzenlemek</li>
                    <li>Yeni bir staj başvurusu yapmak</li>
                </ul>

                <br>
                <br>
                <div>
                    <b>Sağ üst kısımda yer alan kullanıcı yönetim alanında şu işlemleri yapabilirsiniz: </b>
                </div>
                <br>
                <ul class="alert-list">
                    <li>Sisteme giriş yaptığınız şifreyi değiştirmek</li>
                    <li>Sistemden çıkış yapmak</li>
                </ul>
            </div>
        </div>
    </div>
</div>