ul#strengthBar {
  display: inline;
  list-style: none;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

.point:last {
  margin: 0 !important;
}

.point {
  background: #ccc;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 2px;
  width: 30px;
}

.barLabel {
  font-weight: 500;
}