.status-button-row {
    display: flex;
    gap: 10px;
}

.belge-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(200, 200, 200, .6);
    z-index: 99;
}