.collapse-success {
    background: #14A44D !important;
    color: #000 !important;
}

.collapse-danger {
    background: #DC4C64 !important;
    color: #fff !important;
}

.collapse-warning {
    background: #E4A11B !important;
    color: #000 !important;
}